{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6"> <div class="auth-card">
            <h3 class="text-center mb-4">Make a Reservation</h3>
            
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">Book Table</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}